@import "variables";

@mixin dishContainer($color) {
    z-index: -1;
    position: relative;
    margin-top: -45%;
    background: $color;
    padding: 45% 10% 10% 10%;
    border-radius: 10px;
    width: 12vw;

    h3 {
        font-weight: 500;
        color: $appWhite;
        width: auto;
        min-height: 50px;
        max-height: 50px;
        line-height: 1.4;

    }

    h4 {
        color: $appWhite;
        font-size: 90%;
        font-weight: 400;
    }

    h5 {
        color: $offWhite;
        font-size: 90%;
        font-weight: 400;
    }
}

@mixin categoryPageInputs{
    padding: 5px;
    height: 5vh;
    width: 50%;
    color: $appWhite;
    background: $body-bg2;
    border-radius: 10px;
    margin: 10px;
    border-style: none;
}

@mixin paginationStyle($color,$background){
    position: absolute;
    bottom: 2vh;
    left: 92px;
    color: $color;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 50%;
    margin-left: 9%;
    padding: 20px;
    background-color: $background;
    justify-content: space-evenly;
    border-radius: 10px;
    font-weight: 700;
}

@mixin plusMinusCart($color){
    padding-left: 3px;
    font-size: 1.4vw;
    color: $color;
    cursor: pointer;
    min-width: 3vw;
    max-width: 3vw;
}
