@import "variables";

@mixin dishContainer($color) {
    z-index: -1;
    position: relative;
    margin-top: -45%;
    background: $color;
    padding: 45% 10% 10% 10%;
    border-radius: 10px;
    width: 12vw;

    h3 {
        font-weight: 500;
        color: $appWhite;
        width: auto;
        line-height: 1;

    }

    h4 {
        color: $appWhite;
        font-size: 90%;
        font-weight: 400;
    }

    h5 {
        color: $offWhite;
        font-size: 90%;
        font-weight: 400;
    }
}

@mixin categoryPageInputs{
    padding: 5px;
    height: 5vh;
    width: 50%;
    color: $appWhite;
    background: $body-bg2;
    border-radius: 10px;
    margin: 10px;
    border-style: none;
}
