@import "variables";

@mixin flexEvenlyCentered(){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@mixin flexEvenly(){
    display: flex;
    justify-content: space-evenly;
}

@mixin centerItems(){
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin dishContainer($color) {
    z-index: -1;
    position: relative;
    margin-top: -45%;
    background: $color;
    padding: 45% 10% 10% 10%;
    border-radius: 10px;

    h3 {
        font-weight: 500;
        color: $appWhite;
        width: auto;
        font-size: 1.1vw;
        height: 6vh;
        line-height: 1.4;
        overflow-y: hidden;
    }

    h4 {
        color: $appWhite;
        font-size: 1vw;
        font-weight: 400;
    }

    h5 {
        color: $offWhite;
        font-size: .9vw;
        font-weight: 400;
    }
}

@mixin categoryPageInputs{
    margin: 1vh 1vw 1vh 25%;
    font-size: 1vw;
    padding: 1vw;
    width: 50%;
    color: $appWhite;
    background: $body-bg2;
    border-radius: 1vw;
    border-style: none;
}

@mixin paginationStyle($color,$background){
    position: absolute;
    bottom: 30px;
    left: 92px;
    color: $color;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    display: flex;
    width: 50%;
    margin-left: 9%;
    padding: 20px;
    background-color: $background;
    justify-content: space-evenly;
    border-radius: 10px;
    font-weight: 700;
}

@mixin plusMinusCart($color){
    font-size: 1.3vw;
    color: $color;
    cursor: pointer;
    min-width: 2vw;
    max-width: 2vw;
}
