// Body
$body-bg1: #1F1D2B;
$body-bg2: #2D303E;
$theme:#EA7C69;
$appWhite:#e7e7e7;
$offWhite:#a2a2a2;
$secondaryColor:#9288E0;
$pasteColor:#50D1AA;
$borderColor: #2f2f2f;
$darkTheme: #5b3836;

$bp-tablet: 768px;
$bp-mobile: 414px;
$bp-laptop: 1281px;
$bp-mediumDesktop: 1921px;
$bp-largeDesktop: 3841px;
