@import "variables";

.add-page {
    margin: 10vh 0 0 0;
    text-align: center;

    h1 {
        color: $appWhite;
        font-size: 1.5vw;
        margin-bottom: 5vh;

        span{
            color: $theme;
            font-size: 1.3vw;
        }
    }

    form {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 20px;
        textarea{
            resize: none;
            font-size: 17px;
            min-height: 100px;
            overflow-y: scroll;
        }

        .select {
            width: 25.5vw;
            margin: 10px;
            padding: 10px;
            background-color: $body-bg2;
            color: $appWhite;
            border-style: none;
        }

        .input, .auto_height {
            width: 24vw;
            height: 8vh;
            margin: 10px;
            padding: 10px;
            background-color: $body-bg2;
            color: $appWhite;
            border-style: none;
            border-radius: 8px;
        }

        .input_red, .auto_height_red {
            border-radius: 8px;
            width: 24vw;
            margin: 10px;
            height: 8vh;
            padding: 10px;
            background-color: $appWhite;
            font-weight: 700;
            color: red;
            border-color: red;
        }

        .select_red {
            width: 25.5vw;
            margin: 10px;
            padding: 10px;
            background-color: $appWhite;
            font-weight: 700;
            color: red;
            border-color: red;
        }
    }

    .addedDoneMessage {
        margin-top: 20px;
        font-size: 20px;
        color: $theme;
    }
}
