@import "../style/variables";

.addButton {
    button {
        margin-top: 50%;
        padding: 20px;
        border-radius: 8px;
        cursor: pointer;
        color: $theme;
    }

    p {
        color: $theme;
        font-size: 18px;
        margin-top: -5%;
    }
}

.button {
    text-align: center;

    .button-glow {

        width: 100%;
        padding: 14px;
        background: $theme;
        border-radius: 8px;
        border-color: $theme;
        border-style: solid;
        border-width: thin;
        cursor: pointer;
        color: $appWhite;
        box-shadow: 0 8px 24px rgba(146, 136, 224, 0.3);
    }

    .button-dim {
        border-color: $theme;
        border-style: solid;
        border-width: thin;
        width: 100%;
        padding: 14px;
        background: inherit;
        border-radius: 8px;
        color: $theme;
        box-shadow: 0 8px 24px rgba(146, 136, 224, 0.3);
        opacity: .4;
        cursor: pointer;
    }

}

@media screen and (max-width: 800px) {

    .button {

        .button-glow {
            padding: 6px;
        }

        .button-dim {
            padding: 6px;
        }

    }

}
