@import "variables";
@import "mixin";

.dish {

    min-width: 10vw;
    min-height: 20vh;
    padding: 10px;
    cursor: pointer;

    .adminDesign {
        width: 200px;
        height: fit-content;
        z-index: 0;
        position: relative;
        background: $body-bg1;
        border-radius: 10px;
        padding-top: 10px;
        line-height: 3;
        border-style: solid;
        border-width: thin;
        border-color: $borderColor;
    }

    .userDesign {
        margin-bottom: 40px;
        position: relative;
        width: 16vw;
        height: fit-content;
        z-index: 0;
        line-height: 3;
    }

    img {
        max-width: 16vw;
        max-height: 16vh;
    }

    .container {
       @include dishContainer($body-bg1)
    }

    .containerAdded {
        @include dishContainer(rgb(234, 124, 105, .1))
    }

    .editDish {
        width: auto;
        background: $darkTheme;
        padding: 2px;
        margin-top: -10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: space-evenly;

        :hover {
            color: $offWhite;
            opacity: .9;
        }

        button {
            background: inherit;
            color: $theme;
            opacity: .7;
            cursor: pointer;
            margin-top: 7px;
        }
    }

    .hidden {
        display: none;
    }
}

@media screen and (max-width: 800px) {

    .dish {
        .adminDesign {
        }

        .userDesign {
            margin-bottom: 0;
            width: 100%;
            line-height: 2.5;
            position: relative;
            z-index: 1;
        }

        img {
            width: 60%;
            height: 60%;
        }

        .container {
            border-radius: 5px;

            h3 {
                font-size: 80%;

            }

            h4 {
                font-size: 70%;
            }

            h5 {
                font-size: 70%;
            }
        }

        .editDish {
            width: auto;
            background: #503532;
            padding: 10px;
            margin-top: -10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            button {
                background: inherit;
                color: $appWhite;
                opacity: .7;
            }
        }

        .hidden {
            display: none;
        }
    }
}

