@import "variables";
@import "mixin";

.editProduct{

    background-color: rgb(101, 84, 81,.3); /* Black w/ opacity */
    @include centerItems;
    width: 100%;
    z-index: 4;
    margin-top: 2vh;

    .modal-content{
        background-color: $body-bg1;
        margin: auto;
        padding: 20px;
        border: 1px solid $body-bg2;
        width: 80%;
    }
    p{
        color: $appWhite;
        font-size: 1.2vw;
        font-weight: 700;
    }
}

