@import "../style/variables";

.selectOption {
    select {
        width: auto;
        height: fit-content;
        box-sizing: border-box;
        border-radius: 8px;
        background: $body-bg1;
        padding: 10px;
        color: $appWhite;
        margin-left: -30%;
        font-size: 14px;
        border-style: solid;
        border-color: $borderColor;
        text-align: left;


        option {
            width: auto;
        }
    }
}

@media screen and (max-width: 800px) {
    .dineIn {
        select {
            width: 105px;
            border-radius: 5px;
            padding: 5px;
            margin-left: -150%;
            font-size: 10px;
        }
    }
}
