@import "variables";
@import "mixin";

.home-Container {
    display: flex;
    background: $body-bg1;
    overflow-x: hidden;
    min-height: 100vh;
    font-size: 1vw;

    .home {
        position: relative;
        left: 92px;
        margin-right: 92px;
        min-height: fit-content;
        background: $body-bg2;
        min-width: 55vw;
        max-width: 55vw;

        hr {
            width: 94.5%;
            margin-left: 2.5%;
            margin-bottom: -2px;
            color: #525252;
        }

        .flex-split {
            display: flex;
            padding: 25px 0 0 0;

            h2 {
                width: 200px;
                color: $appWhite;
                font-weight: 500;
                font-size: 22px;
            }

            li {
                list-style: none;
                padding-right: 0;
                margin-left: auto;
            }
        }

        .homeData {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
    }
}


.homeRightSide {

    width: 90%;
    padding: 30px;

    hr {
        color: $body-bg2;
    }

    .flex-row-list {
        font-size: 1vw;
        color: $offWhite;
        width: auto;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        padding-bottom: 10px;

        li {
            color: $offWhite;
            padding: 5px 20px 10px 0;
        }

        .toRight {
            display: flex;
            margin-left: auto;

            li {
                display: flex;
                color: $offWhite;
                padding: 1vw;
            }
        }
    }

    h2 {
        color: $appWhite;
        text-align: left;
        font-weight: 400;
        font-size: 3vh;
        padding: 2.1% 0 0 0;
    }

    .flex-row-home {
        width: 100%;
        display: flex;
        padding: 12px 12px 12px 0;

        li {
            list-style: none;
            color: $appWhite;
            font-weight: 300;
        }
    }

    .orderList {
        min-height: 10vh;
        max-height: 57vh;
        width: auto;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .orderList::-webkit-scrollbar {
        display: none;
    }

    .orderSubmitTab {
        padding: 10px 0 0 0;
        text-align: left;
        width: 100%;

        p {
            color: $offWhite;
            font-weight: 300;
            padding-top: 10px;
        }

        span {
            float: right;
            margin-right: 10px;
            font-weight: 700;
        }
    }
}

.topSection {
    padding: 20px 30px 0 25px;
    height: auto;
    text-align: left;

    .dropDownIcon {
        display: none;

    }

    .hide {
        display: none;
    }

    h1 {
        font-size: 25px;
        color: $appWhite;
        font-weight: 500;
    }

    h2 {
        padding-top: 5px;
        color: $offWhite;
        font-size: 14px;
        font-weight: 500;
    }

    h3 {
        padding: 30px 30px 30px 0;
        color: $appWhite;
        font-size: 1.5vw;
        font-weight: 400;
    }

    .rightSide {
        float: right;
        margin-right: -10px;

        button {
            cursor: pointer;
            margin-top: 20px;
            border-radius: 8px;
            background: $body-bg1;
            color: $appWhite;
            border-style: solid;
            border-width: thin;
            border-color: #68696c;
            padding: 10px;
        }

        button:hover {
            color: $theme;
            opacity: .8;
        }

        input {
            margin-top: 10px;
            background: #2D303E;
            padding: 10px;
            border-radius: 8px;
            border-style: solid;
            border-width: 1px;
            border-color: #676767;
            color: $appWhite;
        }
    }

    .header {
        padding: 20px 0 0 0;
        margin-left: -40px;

        .headerUl {
            display: flex;
            justify-content: space-between;
            max-width: 40vw;

            .activeLink {
                a {
                    text-decoration: none;
                    color: $theme;
                    cursor: pointer;
                    font-weight: 600;
                }

                hr {
                    margin-top: 23px;
                    color: #EA7C69;
                    width: 45px;
                }
            }

            .inActiveLink {
                a {
                    cursor: pointer;
                    text-decoration: none;
                    color: $appWhite;
                    font-weight: 300;
                }

                hr {
                    margin-top: 23px;
                    opacity: 0;
                }
            }
        }
    }
}

.categoryPage {
    position: fixed;
    text-align: center;
    //top: 22vh;
    //left: 37vw;
    right: 7%;
    z-index: 1;
    padding: 20px;
    background-color: $body-bg1;
    width: 54vw;
    min-height: 65vh;
    border-radius: 8px;

    .addedDoneMessage{
        padding: 10px;
        font-size: 1.2vw;
        color: $secondaryColor;
    }

    .Category-table{
        max-height: 35vh;
        overflow-y: scroll;
        margin-bottom: 20px;

        .title{
            color: $secondaryColor;
        }
        .delete{
            cursor: pointer;
            color: $darkTheme;
        }
        .statusGreen{
            font-size: 15px;
            color: $pasteColor;
            cursor: pointer;
        }
        .statusRed{
            font-size: 15px;
            cursor: pointer;
            color: $theme;
        }

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            padding: 8px;
            border-style: none;
        }

        #customers tr:nth-child(even){background-color: $body-bg2;}

        //#customers tr:hover {background-color: $body-bg2;}

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: $darkTheme;
            color: black;
        }
    }

    .CategoryPop{
        padding: 15px;
        cursor: pointer;
        color: $offWhite;
        background-color: $darkTheme;
        border-radius: 10px;
    }

    .addCategory {
        display: flex;
        flex-direction: column;
        p{
            color: $theme;
            font-size: 18px;
            margin-left: 10px;
        }
        form {

            .input {
                @include categoryPageInputs;
                width: 49%;
            }
            .input_red{
                @include categoryPageInputs;
                color: red;
                border-style: solid;
                border-color: red;
            }

            select {
                @include categoryPageInputs;
            }
        }
        button {
            margin: 10px;
            width: 25%;
            background: $theme;
            cursor: pointer;
            border-radius: 5px;
            padding: 8px;
        }
    }

    h2 {
        font-size: 40px;
    }
}

.categoryAdd:after {
    background: #0f5132;
}

@media screen and (min-width: 1920px) {
    .home-Container {
        .home {
            .topSection {
                height: auto;
            }
        }
    }
}

@media screen and (min-width: 3840px) {
    .home-Container {
        .home {
            .topSection {
                height: auto;

                .header {
                    padding: 20px 0 0 0;
                    margin-left: -40px;

                    .headerUl {
                        display: flex;
                        justify-content: space-between;
                        max-width: 40vw;

                        .activeLink {
                            a {
                                text-decoration: none;
                                color: $theme;
                                font-weight: 600;
                                font-size: 160%;
                            }

                            hr {
                                margin-top: 20px;
                                color: #EA7C69;
                                width: 35px;
                            }
                        }

                        .inActiveLink {
                            a {
                                font-size: 150%;
                                text-decoration: none;
                                color: $appWhite;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {

    .home-Container {

        hr {
            height: 1px;
            color: #424242;
        }

        .home {
            left: 0px;
            margin-right: 0;
            width: 100%;

            .flex-split {

                h2 {
                    display: none;
                }

                li {
                    list-style: none;
                    margin-left: 85%;
                }
            }

            .topSection {
                padding: 10px;

                .dropDownIcon {
                    display: block;
                    cursor: pointer;
                    margin-top: 25px;

                    span {
                        color: $offWhite;
                        font-size: 12px;
                    }
                }

                h1 {
                    font-size: 15px;
                    width: 210px;
                }

                h2 {
                    font-size: 10px;
                }

                .rightSide {
                    padding-right: 0;

                    input {
                        width: 70px;
                        margin-top: 0;
                        padding: 5px;
                        border-style: solid;
                    }
                }

                .header {
                    display: none;
                }

                .header-mobile {
                    display: flex;
                    background: $body-bg1;
                    width: 170px;
                    border-bottom-right-radius: 90px;
                    margin: 0 0 0 -40px;
                    position: relative;
                    z-index: 1;

                    .headerUl {

                        display: flex;
                        flex-direction: column;
                        min-width: fit-content;

                        .activeLink {
                            a {
                                text-decoration: none;
                                color: $theme;
                                font-size: 18px;
                                padding: 10px;

                            }

                            hr {
                                margin-bottom: -25px;
                                width: 35px;
                                color: $theme;
                                margin-left: 7px;

                            }
                        }

                        .inActiveLink {
                            a {
                                font-size: 15px;
                                text-decoration: none;
                                color: $appWhite;
                                font-weight: 300;
                                padding: 10px;
                            }

                            hr {
                                display: none;
                            }
                        }
                    }
                }
            }

            .homeData {
                padding: 0;
            }

            .content {
                background: transparent;
                padding: 12px;
                min-height: 250px;
            }

            .column {
                width: 100%;
                opacity: 1;
            }
        }

        .homeRightSide {
            display: none;
            padding: 3px;
            width: 34vw;

            h2 {
                font-size: 13px;
                padding: 5px;
            }

            .flex-row {
                padding: 5px;
                flex-direction: column;

                li {
                    margin: 5px 0 0 5px;
                    font-size: 9px;
                }

                .toRight {
                    float: right;

                    li {
                        display: none;
                        padding-left: 0;
                    }
                }
            }

            .orderSubmitTab {
                padding: 2px;

                p {
                    font-size: 11px;
                }

                span {
                    float: right;
                    margin-right: 10%;
                }
            }
        }

    }


}
