@import "variables";

.mostOrdered {
    width: auto;
    padding-top: 2vh;
    background: inherit;
    display: flex;
    text-align: left;

    img {

        width: 10%;
        height: 10%;
    }

    .flex-column {
        margin: 0 0 0 10px;
        display: flex;
        flex-direction: column;

        h4 {
            color: $appWhite;
            font-size: 1.1vw;
            font-weight: 400;
        }

        p {
            font-size: 1vw;
            color: $offWhite;
        }
    }
}
