@import "variables";


.modalContainer {
    background: $body-bg1;
    border-radius: 240px;
}

.payment {
    margin-top: -2%;
    width: 100vw;
    overflow-y: scroll;
    background: $body-bg1;

    h1 {
        margin-left: -8px;
        color: $appWhite;
        font-weight: 400;
        font-size: 1.5vw;
    }

    p {
        margin-left: -8px;
        font-size: 1vw;
        color: $offWhite;
    }
}


.billingInfo {
    font-weight: 400;
    padding: 3vw;
    margin-left: 2vw;
    border-left-style: solid;
    border-color: #2D303E;

    .billingHeader {
        padding-left: .4vw;

        h2 {
            color: $appWhite;
            font-size: 1.3vw;
            font-weight: 400;
        }

        p {
            color: $offWhite;
            font-size: 1vw;
            margin-left: .4px;
        }
    }

    .billingContainer {
        h2 {
            padding: 20px 0px 0px 10px;
            color: $appWhite;
            font-size: 18px;
            font-weight: 400;
        }

        .paymentIcons {
            padding: 20px 10px 10px 10px;
            display: flex;
            justify-content: space-between;
            max-width: 50%;

            .payIcon {
                cursor: pointer;
                list-style: none;
                padding: 8px 18px 8px 18px;
                border-radius: 8px;
                border-style: solid;
                border-width: thin;
                border-color: $offWhite;
                background: $body-bg1;
            }

            .activePayIcon {
                cursor: pointer;
                list-style: none;
                padding: 8px 18px 8px 18px;
                border-radius: 8px;
                border-style: solid;
                border-width: thin;
                border-color: $offWhite;
                background: $body-bg2;
            }
        }
    }
}

.cardPay {
    hr {
        width: 105%;
        margin-left: 10px;
        color: #414141;
    }

    p {
        padding: 10px 10px 5px 18px;
        color: $appWhite;
        font-size: 13px;
    }

    input {
        margin: 5px;
        border-style: none;
        width: 20vw;
        padding: 11px;
        font-size: 1vw;
        border-radius: 8px;
        color: $offWhite;
        background: $body-bg2;
    }

    .flex-columnPay {
        display: flex;
        flex-direction: column;
    }

    .confirmPay {
        width: 100%;
        display: flex;

        .button {
            min-width: 50%;
            margin-left: 10px;
        }
    }
}
