@import "variables";

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0 50px;
    padding: 30px 0 0 15px;
    width: 100%;
    @media screen and (max-width: $bp-mobile) {
        grid-template-columns: auto;
    }
}

.grid-container-admin {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    margin-top: 6%;
    padding: 0 10px 10px 10px;
    max-height: 53vh;
    overflow-y: scroll;
    scrollbar-width: none;
    @media screen and (max-width: $bp-mobile) {
        grid-template-columns: auto;
    }
}

.grid-container-admin::-webkit-scrollbar {
    display: none;
}

.addDish {
    margin: 5%;
    width: 15vw;
    border-radius: 10px;
    border-width: 2px;
    border-style: dashed;
    border-color: $darkTheme;
    cursor: pointer;

    :hover {
        color: $appWhite;
        font-size: 103%;
    }
}

