@import "../style/variables";

.sidebar {
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: $body-bg1;
    width: fit-content;
    position: fixed;
    top: 0;
}
