@import "mixin";
@import "variables";

.topSection {
    padding: 1vh 2vw 0 2vw;
    height: auto;
    text-align: left;

    .dropDownIcon {
        display: none;

    }

    .hide {
        display: none;
    }

    h1 {
        font-size: 1.5vw;
        color: $appWhite;
        font-weight: 500;
    }

    h2 {
        padding-top: 1vh;
        color: $offWhite;
        font-size: 1.2vw;
        font-weight: 500;
    }

    h3 {
        padding: 2vw 2vw 2vw 0;
        color: $appWhite;
        font-size: 1.2vw;
        font-weight: 400;
    }

    .rightSide {
        float: right;
        margin-right: -2%;

        button {
            cursor: pointer;
            margin: 2vw;
            border-radius: 8px;
            background: $body-bg1;
            color: $appWhite;
            border-style: solid;
            font-size: .9vw;
            border-width: thin;
            border-color: #68696c;
            padding: 5px;
            width: fit-content;
        }

        button:hover {
            color: $theme;
            opacity: .8;
        }

        input {
            width: 200px;
            margin-top: 10px;
            background: #2D303E;
            padding: 10px;
            font-size: 1.1vw;
            border-radius: 8px;
            border-style: solid;
            border-width: 1px;
            border-color: #676767;
            color: $appWhite;
        }
    }

    .header {
        padding-top:2vw;
        .headerUl {
            display: flex;
            width: 70%;
            margin-left: -3vw;
            justify-content: space-between;

            .activeLink {
                a {
                    text-decoration: none;
                    color: $theme;
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 1.1vw;
                }

                hr {
                    margin-top: 23px;
                    color: #EA7C69;
                    width: 2vw;
                }
            }

            .inActiveLink {
                a {
                    font-size: 1.1vw;
                    cursor: pointer;
                    text-decoration: none;
                    color: $appWhite;
                    font-weight: 300;
                }

                hr {
                    margin-top: 23px;
                    opacity: 0;
                }
            }
        }
    }
}
