@import "resources/js/style/variables";
@import "resources/js/style/mixin";

.dish {
    width: 15vw;
    padding: 1vw;
    cursor: pointer;

    .adminDesign {
        z-index: 0;
        position: relative;
        background: $body-bg1;
        border-radius: 10px;
        padding-top: 10px;
        line-height: 3;
        border-style: solid;
        border-width: thin;
        border-color: $borderColor;

        img {
            width: 13vw;
            height: 19vh;
        }

        p {
            display: none
        }

    }

    .userDesign {

        margin-bottom: 40px;
        position: relative;
        z-index: 0;
        line-height: 3;

        img {
            width: 13vw;
            height: 19vh;
        }

        p {
            width: 100%;
            padding: 10px 5px 10px 0;
            background-color: $offWhite;
        }
    }


    .container {
        @include dishContainer($body-bg1)
    }

    .containerAdded {
        @include dishContainer(rgb(234, 124, 105, .1))
    }

    .editDish {
        width: auto;
        background: $darkTheme;
        padding: 2px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: space-evenly;

        :hover {
            color: $offWhite;
            opacity: .9;
        }

        button {
            background: inherit;
            color: $theme;
            opacity: .7;
            cursor: pointer;
            margin-top: 7px;
        }
    }

    .hidden {
        display: none;
    }
}

.coupon {
    padding-bottom: 1.3vw;
    width: 8vw;
    height: 2vh;
    float: right;

    h5 {
        background-color: $theme;
        color: #1F1D2B;
        font-size: 1vw;
        max-width: 50vw;
        display: none;
    }

    h1 {
        border-radius: 10vw 7vw 1vw 11vw;
        background-color: rgba(#EA7C69FF, .7);
        position: relative;
        margin-top: 7vh;
        z-index: 2;
        font-size: 1vw;
        color: $body-bg1;
    }
}

.opacityNone {
    opacity: 0;
}

@media screen and (max-width: 800px) {

    .dish {
        .adminDesign {
        }

        .userDesign {
            margin-bottom: 0;
            width: 100%;
            line-height: 2.5;
            position: relative;
            z-index: 1;
        }

        img {
            width: 60%;
            height: 60%;
        }

        .container {
            border-radius: 5px;

            h3 {
                font-size: 80%;

            }

            h4 {
                font-size: 70%;
            }

            h5 {
                font-size: 70%;
            }
        }

        .editDish {
            width: auto;
            background: #503532;
            padding: 10px;
            margin-top: -10px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;

            button {
                background: inherit;
                color: $appWhite;
                opacity: .7;
            }
        }

        .hidden {
            display: none;
        }
    }
}

