@import "../variables";
@import "resources/js/style/mixin";

.cartItems {
    width: auto;
    height: fit-content;
    padding-bottom: 20px;
    background: inherit;
    color: $appWhite;

    .cartItemsContainer {
        width: 100%;
        text-align: left;
        margin-right: -40px;

        img {
            width: 8vw;
            height: 11vh;
        }

        .left,
        .flex-sum-row-right {
            float: left;
            width: 48%;

            .minus {
                @include plusMinusCart($offWhite);
                padding-right: .5vw;
                border-right: 1px solid $body-bg2;;

            }

            .plus {
                @include plusMinusCart($offWhite);
                padding-left: .5vw;
                border-left:  1px solid $body-bg2;
            }

            h5 {
                margin-top: 10%;
                margin-left: auto;
                font-size: .9vw;
                background: rgba(#2D303E,.1);
                border-radius: 8px;
                padding: 1.1vh 2vw .9vh 1.1vw;
                width: 2.8vw;
                margin-right: .3vw;
                .quantity{
                    padding: .4vw;
                }
            }

            h2 {
                padding: 1vw 1vw .8vw 1vw;
                margin-top: 10%;
                font-size: .9vw;
                width: 1vw;
                margin-right: -.2vw;
            }
        }

        .left {
            p {
                padding: 1.4vh 1vw .5vh .8rem;
                font-size: 1vw;
                width: 14vw;
                overflow: hidden;
            }

            h1 {
                padding-left: .8rem;
                padding-top: .7vh;
                font-size: .9vw;
                color: $offWhite;
            }
        }
    }

    .flex-row-form {
        margin-bottom: 1vh;
        margin-top: 1vh;
        width: 100%;
        float: left;
        display: flex;

        input {
            background: #2D303E;
            border-style: none;
            margin: 0 10px 0 0;
            color: $appWhite;
            font-size: 1vw;
            width: 100%;
            padding: 1vw 1vw .8vw 1.2vw;
            border-radius: 1vh;
            outline: $theme;
        }

        img {
            margin-left: .6vw;
            cursor: pointer;
            width: 3vw;
            height: 4.8vh;
            margin-right: .4vw;
        }
    }

}


@media screen and (max-width: 800px) {
    .cartItems {
        width: 100px;
        height: fit-content;
        margin: 0;

        .flex-row {
            img {
                margin-top: 5%;
                margin-left: 20%;
                width: 44%;
                height: 44%;
            }
        }

    }
}
