@import "resources/js/style/variables";

.dashboardContainer {
    padding-top: 20px;
    margin-left: 92px;
    background: $body-bg2;
    text-align: left;

    h2 {
        font-size: 2vw;
        color: $appWhite;
        font-weight: 500;
    }

    h3 {
        font-size: 1vw;
        color: $offWhite;
        font-weight: 500;
    }

    .dashboardFlex {
        height: 100vh;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
    }

    .dashboardLeft {
        margin: 1% 1% 0 0;
        flex: .7;

        .businessCardsFlex {
            padding: 0 3% 0 3%;
            display: flex;
            justify-content: space-between;
        }

        .orderSummery {
            border-radius: 1vh;
            margin: 3%;
            padding: 3%;
            background: $body-bg1;

            .orderReports {

                .flexHeader {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2vh;
                    padding-left: 1.3%;

                    .hide {
                        display: none;
                    }

                    h2 {
                        color: $appWhite;
                        font-size: 1.2vw;
                        font-weight: 400;
                    }

                    button {
                        margin-top: -1vh;
                        color: $appWhite;
                        background: $body-bg1;
                        padding: .8vw;
                        border-radius: 1vw;
                        cursor: pointer;
                    }

                    button:hover {
                        color: $theme;
                    }
                }

                .OrderDetails {
                    margin-top: 50px;
                }

                hr {
                    height: .1px;
                    color: $body-bg2;
                }

                .orderInfo {
                    height: 46vh;
                    overflow: scroll;
                    scrollbar-width: none;

                    .hide {
                        display: none;
                    }


                }

                .orderInfo::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

    .dashboardRight {
        flex: .3;
        margin: -5% 1% 0 1%;

        h1 {
            font-size: 1.1vw;
            color: $appWhite;
            font-weight: 400;
        }

        .mostOrderedCard {
            padding: 7%;
            border-radius: 1vh;
            height: 46vh;
            background: $body-bg1;
            margin: 3%;

            hr {
                background-color: $body-bg2;
                color: $body-bg2;
            }

            h1 {
                padding-top: 5%;
            }
        }

        .orderTypesCard {
            background: $body-bg1;
            padding: 7%;
            margin: 3%;
            border-radius: 1vh;

            h1 {
                padding-top: 5%;
            }
        }
    }
}


table {
    border-collapse: collapse;
    width: 100%;
}

td {
    font-size: 1vw;
    max-width: 17vw;
}

p {
    font-size: 1vw;
}

td, th, select, form, option {
    color: $offWhite;
    font-size: 1vw;
    text-align: left;
    padding: .8vw;
    border-style: none;
    border-radius: 1vw;
}

.StatusCompletedInfo {
    text-align: center;
    padding: 6px;
    border-radius: 1vw;
    background: rgb(80, 209, 170, .1);
    color: $pasteColor;

}

.StatusPendingInfo {
    text-align: center;
    padding: 6px;
    font-size: 1vw;
    background: rgb(234, 124, 105, .1);
    color: $theme;
}

.StatusCookingInfo {
    text-align: center;
    font-size: 1vw;
    padding: 6px;
    background: rgb(91, 56, 54, .1);
    color: $secondaryColor;
}
