@import "../../style/variables";
@import "../../style/mixin";


.discount {
    height: 100vh;
    background-color: $body-bg2;
    padding: 2vw;
    @include flexEvenly;

    h2 {
        color: $offWhite;
        font-size: 1.2vw;
        font-weight: 100;
        text-shadow: 4px 2px 3px 3px $theme;
    }

    .discountContainer {
        margin: 7vw 0 0 0;
        padding: 2vw;
        background-color: $body-bg1;
        width: 40vw;
        height: 60vh;

        form {
            display: flex;
            flex-direction: column;

            input{
                background-color: $body-bg2;
                color: $appWhite;
                border-style: none;
                padding: 1vw;
                border-radius: 1vw;
                margin-top: 1rem;
            }
        button{
            cursor: pointer;
            padding: 1vw;
            width: 100%;
            border-radius: 1vw;
            margin-top: 1rem;
            background-color: #475e42;
        }

            p {
                color: $theme;
            }
        }
    }
    .pastDiscounts{
        padding: 1vw;
        width: 30vw;
        height: 80vh;
        background-color: $body-bg1;
    }


}
