@import "../../style/variables";
@import "../../style/mixin";


.discount {
    height: 100vh;
    background-color: $body-bg2;
    padding: 2vw;
    @include flexEvenly;

    h2 {
        color: $offWhite;
        font-size: 1.2vw;
        font-weight: 100;
        text-shadow: 4px 2px 3px 3px $theme;
    }

    .discountContainer {
        margin: 7vw 0 0 7vw;
        padding: 5vw;
        background-color: $body-bg1;
        width: 40vw;
        height: 50vh;
        border-radius: 1vw 5vw 1vw 1vw;

        form {
            display: flex;
            flex-direction: column;

            input {
                background-color: rgba(#9288E0FF,.1);
                color: $offWhite;
                border-style: none;
                padding: 1vw;
                border-radius: 1vw;
                margin-top: 1rem;
            }

            button {
                cursor: pointer;
                padding: 1vw;
                border-radius: 1vw;
                margin-top: 1rem;
                background-color: #475e42;
            }

            p {
                color: $theme;
            }
        }
    }

    .pastDiscounts {
        width: 30vw;
        height: 80vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;
        background-color: $body-bg1;
        border-radius: 1vw 1vw 1vw 5vw;
        padding: 2vw;

        hr {
            height: 1px;
            background-color: $body-bg2;
            border: none;
        }

        .discountInfo {
            padding: 2vh 0 0 0;

            form {
                text-align: center;

                select {
                    margin-right: 3vw;
                    width: 8vw;

                    option {
                        background-color: $body-bg1;
                        color: $offWhite;
                    }
                }
            }

        }

        h1 {
            font-size: 2vw;
            color: $offWhite;
        }

        h2 {
            font-size: 1.5vw;
            color: $pasteColor;
        }

        p {
            color: $secondaryColor;
            font-size: 1.5vw;
        }

        .red {
            background-color: $theme;
            color: $body-bg1;

        }

        .green {
            background-color: #475e42;
            color: $body-bg1;
        }

    }

    .pastDiscounts::-webkit-scrollbar {
        display: none;
    }

}
