@import '../../style/variables';
@import '../../style/mixin';

.inventory{
    padding: 1rem;
    h1{
        font-size: 2rem;
        color: $offWhite;
    }
    .inventoryCard{

        p{
            color: $offWhite;
        }
        .title{
            color: $secondaryColor;
        }
        .ingredients{
            color: $theme;
        }
    }
}
