@import "resources/js/style/variables";
@import "resources/js/style/mixin";

.home-Container {
    display: flex;
    background: $body-bg1;
    overflow-x: hidden;
    min-height: 100vh;
    font-size: 1vw;

    .home {
        position: relative;
        left: 92px;
        margin-right: 92px;
        min-height: fit-content;
        background: $body-bg2;
        width: 60vw;
        padding-bottom: 15vh;

        hr {
            width: 94.5%;
            margin-left: 2.5%;
            margin-bottom: -2px;
            color: #525252;
        }

        .flex-split {
            display: flex;
            justify-content: space-between;
            padding: 2vw 0 0 0;

            h2 {
                width: 14vw;
                color: $appWhite;
                font-weight: 500;
                font-size: 1.5vw;
            }

            li {
                list-style: none;
                padding-right: 0;
                margin-left: auto;
            }
        }

        .homeData {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }
    }
}


@media screen and (max-width: 800px) {

    .home-Container {

        hr {
            height: 1px;
            color: #424242;
        }

        .home {
            left: 0;
            margin-right: 0;
            width: 100%;

            .flex-split {

                h2 {
                    display: none;
                }

                li {
                    list-style: none;
                    margin-left: 85%;
                }
            }

            .topSection {
                padding: 10px;

                .dropDownIcon {
                    display: block;
                    cursor: pointer;
                    margin-top: 25px;

                    span {
                        color: $offWhite;
                        font-size: 12px;
                    }
                }

                h1 {
                    font-size: 15px;
                    width: 210px;
                }

                h2 {
                    font-size: 10px;
                }

                .rightSide {
                    padding-right: 0;

                    input {
                        width: 70px;
                        margin-top: 0;
                        padding: 5px;
                        border-style: solid;
                    }
                }

                .header {
                    display: none;
                }

                .header-mobile {
                    display: flex;
                    background: $body-bg1;
                    width: 170px;
                    border-bottom-right-radius: 90px;
                    margin: 0 0 0 -40px;
                    position: relative;
                    z-index: 1;

                    .headerUl {

                        display: flex;
                        flex-direction: column;
                        min-width: fit-content;

                        .activeLink {
                            a {
                                text-decoration: none;
                                color: $theme;
                                font-size: 18px;
                                padding: 10px;

                            }

                            hr {
                                margin-bottom: -25px;
                                width: 35px;
                                color: $theme;
                                margin-left: 7px;

                            }
                        }

                        .inActiveLink {
                            a {
                                font-size: 15px;
                                text-decoration: none;
                                color: $appWhite;
                                font-weight: 300;
                                padding: 10px;
                            }

                            hr {
                                display: none;
                            }
                        }
                    }
                }
            }

            .homeData {
                padding: 0;
            }

            .content {
                background: transparent;
                padding: 12px;
                min-height: 250px;
            }

            .column {
                width: 100%;
                opacity: 1;
            }
        }

        .homeRightSide {
            display: none;
            padding: 3px;
            width: 34vw;

            h2 {
                font-size: 13px;
                padding: 5px;
            }

            .flex-row {
                padding: 5px;
                flex-direction: column;

                li {
                    margin: 5px 0 0 5px;
                    font-size: 9px;
                }

                .toRight {
                    float: right;

                    li {
                        display: none;
                        padding-left: 0;
                    }
                }
            }

            .orderSubmitTab {
                padding: 2px;

                p {
                    font-size: 11px;
                }

                span {
                    float: right;
                    margin-right: 10%;
                }
            }
        }

    }


}
